/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffebee; /* Light red background */
}

/* Container styles */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #d32f2f; /* Added border */
}

/* Heading styles */
h2 {
    text-align: center;
    color: #d32f2f; /* Dark red color */
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Input styles */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
/* Navbar styles */
.navbar {
    background-color: #f64242;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 10px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #b71c1c;
    text-decoration: none;
}

/* Button styles */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d32f2f; /* Dark red color */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b71c1c; /* Darker red on hover */
}

/* Link styles */
p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #d32f2f; /* Dark red color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Sign-up container styles */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #d32f2f;
}

/* Adjust input styles for email input */
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
